<<<<<<< HEAD
// src/app/services/Services.module.scss
@import '../../styles/abstracts/variables';

.servicesContainer {
  text-align: center;
}

.mainHeading {
  color: $color-light;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.intro {
  font-size: 1.8rem;
  color: rgba($color-light, 0.8);
  max-width: 800px;
  margin: 0 auto 2rem auto;
=======
.servicesContainer {
  text-align: center;
}

.intro {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.8);
  max-width: 800px;
  margin: 0 auto 2rem auto;
>>>>>>> d838527dfb3712e23902bb78922705722be566fb
}